.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  scrollbar-color: #ffc82f dark;
  overflow-x: hidden;
}

.splash-container {
  width: 100%;
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  background-color: #101013;
}

.splash-content {
  width: 100%;
  display: flex;
  min-height: 80vh;
  padding-top: 140px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.splash-content h1 {
  font-size: 95px;
  margin-top: 35px;
}

.splash-content img {
  height: 95px;
}

.about-container {
  width: 100%;
  display: flex;
  color: black;
  min-height: 80vh;
  align-items: center;
  background: #f0eaea;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: flex-start;
}

#decorative-sq {
  width: 50px;
  height: 50px;
  background: #FEAE01;
}

.about-header h1 {
  opacity: .85;
  font-size: 48px;
  margin: 0px 0px 20px 0px;
}

.about-header h4 {
  opacity: .5;
  margin-bottom: 0px;
  margin: 40px 0px 2px 0px;
}

.about-container p {
  font-style: normal;
  font-family: abril-display, serif;
}

.about-header {
  width: 100%;
  display: flex;
  padding-top: 40px;
  align-items: center;
  flex-direction: column;
}

.about-content{
  display: flex;
  padding: 20px;
}

.about-textblock {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about-textblock p {
  margin: 0;
  opacity: .7;
  font-size: 20px;
  text-align: justify;
}

.about-textblock h3 {
  opacity: .8;
  width: 100%;
  font-size: 24px;
  font-style: normal;
  margin: 0px 0px 12px 0px;
  font-family: abril-display, serif;
}
















.bodyContainer{
  display: flex;
  flex-direction: column;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.freynman{
  background-image: url('../../assets/feynman.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.big-text-area {
  color: rgb(0, 0, 0);
}


.feynmanText p {
  font-size: 16px;
}

#left-side {
  /* width: 49%; */
}

#right-side {
  /* border-left: 1px solid rgb(0, 0, 0);  */
  /* padding-left: 40px; */
}


.whitespace {
  height:50px;
  margin: 10px;
}

.WTFduck {
  font-size:75px;
}

p {
  font-size: 25px;
}