.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container p {
  margin: 0;
  opacity: .7;
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  font-family: abril-display, serif;
}

.container h1 {
  opacity: .85;
  font-size: 48px;
  margin: 0px 0px 20px 0px;
}

.container h4 {
  opacity: .5;
  margin-bottom: 0px;
  margin: 40px 0px 2px 0px;
}

.container h3 {
  opacity: .8;
  width: 100%;
  font-size: 24px;
  font-style: normal;
  margin: 0px 0px 12px 0px;
  font-family: abril-display, serif;
}

/* SPLASH COMPONENT */

.splash-container {
  width: 100%;
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  background-color: #101013;
}

.splash-content {
  width: 100%;
  display: flex;
  min-height: 80vh;
  padding-top: 140px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.splash-content h1 {
  font-size: 95px;
  margin-top: 35px;
}

.splash-content img {
  height: 95px;
}

/* ABOUT COMPONENT */

.about-container {
  width: 100%;
  display: flex;
  color: black;
  min-height: 80vh;
  align-items: center;
  background: #f0eaea;
  padding-bottom: 180px;
  flex-direction: column;
  justify-content: flex-start;
}

#decorative-sq {
  width: 50px;
  height: 50px;
  background: #FEAE01;
}

#decorative-rec {
  width: 20px;
  height: 95px;
  background: #FEAE01;
}

.about-header {
  width: 100%;
  display: flex;
  padding-top: 40px;
  align-items: center;
  flex-direction: column;
}

.about-content{
  display: flex;
  padding: 20px;
}

.about-textblock {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* HISTORY COMPONENT */

.history-container {
  width: 100%;
  display: flex;
  color: black;
  min-height: 80vh;
  align-items: center;
  background: #e5e5e5;
  justify-content: center;
  border-top: 1px solid #dadada;
  padding: 120px 100px 180px 100px;
}

.history-container p { 
  margin-top: 10px;
}

.history-container .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.history-container img {
  width: 400px;
  height: 400px;
}

.history-container .right {
  width: 50%;
  display: flex;
  padding: 40px 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgb(80, 80, 80, .25);
}

.history-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.history-header h1 {
  margin: 0px;
}

.history-header h4 {
  margin: 20px 0px 0px 0px;
}

.header-content {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}

.history-textblock {
  padding-left: 40px;
}