.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.freynman{
  background-image: url('../../assets/feynman.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.logoH1 {
  text-align: center;
  color: white;
}

.feynmanText {
  display: flex;
  flex-direction: column;
  border-left: 5px solid white; 
  padding: 30px; 
}

.flex{
  display: flex;
  border-bottom: 5px solid #ffc82f;
  margin: 25vh;
}

.whitespace {
  height:50px;
  margin: 10px;
}

.WTFduck {
  font-size:75px;
}

p {
  font-size: 25px;
}